
<div class="row center">
  <div class="col">
    <div class="card w-75 center mx-auto shadow-2-strong">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <div class="text-center card-header">
          <i class="fa-solid fa-car-side icone-grande"></i>
        </div><br/>

        <mdb-form-control>
          <input mdbInput type="text" id="formControlLg" class="form-control form-control-lg" />
          <label mdbLabel class="form-label" for="formControlLg">Modelo</label>
        </mdb-form-control>
        <br/>
        <mdb-form-control>
          <input mdbInput type="text" id="formControlDefault" class="form-control" />
          <label mdbLabel class="form-label" for="formControlDefault">Preço</label>
        </mdb-form-control>
        <br/>
        <mdb-form-control>
          <input mdbInput type="text" id="formControlSm" class="form-control form-control-sm" />
          <label mdbLabel class="form-label" for="formControlSm">Form control sm</label>
        </mdb-form-control>
        <br/>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>
</div>
