<div class="modal-header">

  <h5 class="modal-title">
    Confirmar exclusão
  </h5>

  <button
    type="button"
    class="btn-close"
    aria-label="Fechar"
    (click)="cancelar()"
  ></button>

</div>


<div class="modal-body">

  <p>
    Tem certeza que deseja apagar esta peça?
  </p>

  <strong>
    {{ nomePeca }}
  </strong>

</div>


<div class="modal-footer">

  <button
    type="button"
    class="btn btn-secondary"
    (click)="cancelar()"
  >
    Cancelar
  </button>


  <button
    type="button"
    class="btn btn-danger"
    (click)="confirmar()"
  >
    Apagar
  </button>

</div>